In [1]:
import pandas as pd

def clean_data(df):
    # Filter rows based on column: 'subject_id'
    df = df[df['subject_id'] == 10000032]
    return df

# Loaded variable 'df' from URI: c:\Users\hoang\Downloads\discharge.csv\discharge.csv
df = pd.read_csv(r'c:\\Users\\hoang\\Downloads\\discharge.csv\\discharge.csv')

df_clean = clean_data(df.copy())
df_clean.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...